li {
  margin-bottom: 3px;
  padding: 20px;
  background-color: #dfdff33b;
  font-size: x-large;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li .delete {
  font-size: 18px;
  color: #f94e4e;
  cursor: pointer;
}
