.input-wrapper {
  width: 100%;
  position: fixed;
  bottom: 15px;

  display: flex;
  align-items: stretch;
}

input[type="text"] {
  line-height: 42px;
  margin: 0 10px;
  padding: 1px 20px;
  outline: none;
  border: none;
  background-color: #b76262;
  color: white;
  font-size: 16px;
  border-radius: 2.5em;
  flex: 1;
}

.input-wrapper button {
  width: 44px;
  margin-right: 10px;
  border: none;
  color: white;
  background-color: #b76262;
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
