html, body, #app, .chat {
  margin: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features {
  margin-top: 8px;
}

.features > li {
  padding: 2px;
  text-align: center;
  border-bottom: 2px solid gray;
  display: block;
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.sub-menu > li {
  display: block;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid gray;
}

.features > li:hover {
  display: block;
}

/* light theme */

.chat.light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c9f0f7;
  color: black;
  font-family: sans-serif;
  font-size: 18px;
}

.light .contacts li span.offline {
  font-size: 12px;
  color: #999;
}

.light .contacts li span.online {
  font-size: 12px;
  color: green;
}

.light .user-status.offline {
  font-size: 12px;
  color: #999;
}

.light .user-status.online {
  font-size: 12px;
  color: green;
}

.light .message-time {
  color: #715656;
  font-size: 12px;
}

.light .you {
  font-size: 12px;
  color: #776868;
}

.light .my-status {
  margin-top: 5px;
  font-size: 14px;
  color: green;
  border-bottom: 1px solid black;
}

.light .sub-menu li:hover {
  color: green;
}

.light .features li div:hover {
  color: green;
}

.light .sub-menu {
  display: block;
  min-width: 100%;
}

.light li .sub-menu li:hover {
  color: green;
}

.light .contacts li,
.light .chats li,
.light .messages li {
  padding: 10px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.light .content {
  flex: 1;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.light .chat-with-user {
  position: absolute;
  top: 180px;
  left: 32px;
  border: 1px solid #b4e2e2;
  padding: 16px;
  border-radius: 35px;
  background-color: #b2e1f3;
  cursor: pointer;
}

/* ---------------- */

/* dark theme */

.chat.dark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3a4042;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

.dark .contacts li span.offline {
  font-size: 12px;
  color: #ccc;
}

.dark .user-status.offline {
  font-size: 12px;
  color: #ccc;
}

.dark .contacts li span.online {
  font-size: 12px;
  color: #51ff51;
}

.dark .user-status.online {
  font-size: 12px;
  color: #51ff51;
}

.dark .you {
  font-size: 12px;
  color: #51ff51;
  display: flex;
}

.dark .message-time {
  color: #62b574;
  font-size: 12px;
}

.dark .my-status {
  margin-top: 5px;
  font-size: 14px;
  color: #51ff51;
  border-bottom: 1px solid gray;
}

.dark .sub-menu {
  display: block;
  background-color: #3a4042;
  min-width: 100%;
}

.dark li:hover {
  color: #51ff51;
}

.dark .sub-menu li:hover {
  color: #51ff51;
}

.dark .contacts li,
.dark .chats li,
.dark .messages li {
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.dark .content {
  flex: 1;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.dark .chat-with-user {
  position: absolute;
  top: 180px;
  left: 32px;
  border: 1px solid #668484;
  padding: 16px;
  border-radius: 35px;
  color: white;
  background-color: #3a4048;
  cursor: pointer;
}
/* ---------------- */

.pointer {
  cursor: pointer;
}

.header {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.chats li .name {
  flex: 1;
}

.chats li {
  display: flex;
  justify-content: space-between;
}

.contacts li span {
  margin-right: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete:hover {
  color: red;
}

.change-avatar > div > button {
  margin-bottom: 3px;
}

.edit-profile.content {
  font-size: 14px;
}

.avatar {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.contacts li span {
    text-align: center;
    line-height: 2em;
    margin-left: 10px;
}

.my-avatar-image {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.user-info {
  position: relative;
}

.user-avatar-image {
  border-radius: 83px;
  width: 150px;
  height: 150px;
  position: absolute;
  margin: 16px;
}

.user-info .user-name {
  display: inline-block;
  position: absolute;
  top: 80px;
  left: 194px;
  font-size: 20px;
  font-weight: bolder;
}

.user-info .contact-number {
  font-size: 15px;
  font-weight: lighter;
}
